{% extends "base.html" %}

{% block body %}
<div class="container">
  <h1>Banking</h1>
  <div>
  <h2>Choosing a Bank</h2>
  <p style="margin-left: 25px;">
    <b>Online-Only vs. Traditional Banks:</b>
    <p style ="margin-left: 50px;">
        <b>Online-Only Banks:</b> These banks are only online, and provide only online services with no branches (physical bank locations) available. Because they are online only, they have less upkeep because of the lack of branches, so they typically offer less fees and more flexibility when it comes to transferring money in and out of accounts. 
        Besides less fees than traditional banks, online-only banks can also offer higher interest rates for savings accounts for the same reason, making them a great option for savings accounts! However, with the lack of branch access, most support will come via phone or through online chats, which can be an issue with people who would like to schedule appointments with bankers to help them with financial decisions or exploring financial products.
        <br></br>
        <b>Traditional Banks:</b> These banks usually have online access just like online-only banks, but comes with the benefits of either being well known or more accessible through branches being close to where you live. However, because of fact that there are numerous branches across the country, upkeep tends to be high which leads to more fees and lower interest rates for more savings accounts, with an exception being probably 
        <a href="https://www.citi.com">Citibank</a>. 
        <br></br>
        <b>Credit Unions:</b> These financial institutions are the most similar to banks but can provide you with the benefits of Online-Only banks, and they typically are divided into occupation credit unions like <a href="https://www.navyfederal.org">Navy Federal</a> or <a href="https://www.pffcu.org">Police and Fire Federal Credit Union (PFFCU)</a> or local credit unions, which depend per town. Compared with major banks mentioned before, credit unions provide a more personal experience when it comes to support, since they are much smaller and are not focused on growing their business compared to major banks.
    </p>
  </p>
  <h2>Types of Accounts 101</h2>
  <p style="margin-left: 25px;">
    <b>Checking Account:</b> This type of account is usually the "bread and butter" account, it's used to receive your paycheck, pay for bills usually (there are some cases of using <a href="\credit_cards#bills">credit cards</a>). There are cases where checking accounts can be used with checks, but this is way less common with the rise of online transfers and debit cards. Also, depending on the bank, checking accounts can be interest-bearing, which means the bank pays a small amount of the money that you had lying around in the account back to you! For college students, there's typically and offering of college checking that comes with fewer fees and no minimum balances.
    <div id="savings">
      <p style="margin-left: 25px;">
        <b>Types of Savings Accounts:</b>
        <p style="margin-left: 50px;">
          <b>Money-Market Account:</b> This is essentially like a general savings account except the money is invested in the market, they usually come with high minimum balances, and are now mostly offered by credit unions.
          <br></br>
          <b>High-Yield Savings Account:</b> This is typically the best place to park an emergency fund in, they are usually offered by online-only banks, again the exception being Citibank, since they have interest rates that are on par with the Federal Funds Rate, which is essentially how much banks can borrow from the government, and give that interest to you!
          <br></br>
          <b>Certificate of Deposit (CD):</b> This account is the best for "locking up" your money, it's usually at a fixed interest rate that is set by the Federal Funds Rate mentioned earlier, and it will not allow you to withdrawl for a set yearly period dictate by the stipulations of the account, typically 1 to 3 or 5 years on average.
          <br></br>
          <b>Basic Savings Account:</b> This account is offered by most banks, it's usually done in conjunction with a checking account when signing up for a bank for the first time. Compared with the rest of the other options, depending on the bank, but on average the interest rate is usually less than 1%, which gives you the least amount of interest possible compared to these other options.

        </p>
      </p>
  </div>
  </p>
  </div>
</div>
{% endblock %}