{% extends "page_template.html" %}

{% block body %}
  <h1>Budgeting</h1>
  <div>
    <h2>Paying Yourself First</h2>
    <p style="margin-left: 25px;">
      This is single handedly the most important part to think about before budgeting, which is making sure that saving money is your number one priority.
      <br></br>
      This can be pretty daunting especially if your starting pay is pretty low, but establishing this habit can set you up for peace of mind during emergencies! 
      <br></br>
      There are several strategies to start paying yourself first:
      <p style="margin-left: 50px;">
        <b>Depositing Extra Income:</b> If you have extra money left over after a month, you can always invest it into a savings or investing account, click the following for more information on 
        <a href="/investment_basics">investing</a> or <a href="/banking#savings">saving</a>.
        <br></br>
        <b>Setting up Automatic Transfers to Savings</b> One of the easiest and hassle-free ways to pay yourself back is through automatic transfers, usually after your paycheck is deposited into your checking account. 
        Usually you can setup a savings account within the same bank or a different bank, for more information check <a href="/banking#savings">here</a>!
<br></br>
      </p>
    </p>
    <h2>Budgeting Strategies and Apps</h2>
    <p style="margin-left: 25px;">
      <b>Getting Started with Budgeting:</b> Before you create a budget, it's good to know what money situation you have before tracking expenses. Check your paystubs, bank statements, or checks to see roughly how much your monthly income is before budgeting.
      Then, tracking your spending by using either an app, or by using a spreadsheet, or a notebook is always a great start. No matter which method you choose, you typically start a budget out with your Income first, and then worry about your fixed expenses, these are bills that you need to worry about on a monthly basis like a car payment, mortgage, insurance, or a cell phone plan.
      These are typically called "fixed" since they do not vary too much month by month. Then, you usually start with "variable" expenses these are things that can change every month, usually shopping, and other purchases that vary from month to month. After calculating each of these by category, you can usually get a general idea of how much you have left over to save or invest.
      If you do this month to month, this usually gets you a better picture of how your spending habits are and what you can expect to save to Pay Yourself Back! This strategy is the traditional way of budgeting for most people!
      <b>Popular Budgeting Strategies:</b>
      <p style="margin-left: 50px;">
          <b>50/30/20 Rule:</b> This budgeting method is the utmost common method when learning about budgeting for the first time, it means putting about 50% into expenses that are considered "needs" these are usually bills, or loans, and other things needed to "survive" a month. Then, putting about 30$ into "wants" which is spending money on things that you would like, while allocating the remaining 20% to savings and investing.
          While this is the most discussed budgeting methods, it can depend on the financial situation that you might be in, since not necessarily can you always stick to these strict percentages. Also, in the long run, having 20% in savings and investments can be a bit low, but it is a decent starting point for new graduates to get in the habit of saving!
          <br></br>
          <b>Zero-Sum budgeting:</b> This type of budgeting makes "every dollar work" which expects that after all income and expenses that there is no carryover for the next month, every dollar has a bucket that it will be put into. This is especially useful for people who have trouble with spending, and it helps keep you accountable for you spending!
          There is a popular budgeting app that already incorporates this method known as 
          <a href = "https://www.ynab.com/college">YNAB (You Need A Budget)</a>
          , which is actually free for a year for students!
          <br></br>
          <b>Envelope Method:</b> This method is a lot more hands on, as the name suggests, you have cash (real or figuratively) aside for each expense category, and you are only allowed to spend what is inside the envelope and no more. This is a more extreme method to curb spending compared to the zero-sum method, but can be really useful for chronic spenders!
      </p>
      <p style="margin-left: 25px;">
        <b>Budgetting App Recommendations:</b>
        It is worth mentioning that all of these are paid apps, there is a lack of free apps for budgetting after Intuit removed Mint in the start of 2024...
        <br></br>
        <p style="margin-left: 50px;">
          <b>
            <a href="https://www.quicken.com/products/simplifi/">Quicken Simplifi:</a>
            
          </b> This app is made by Quicken, which has had a pretty long reputation in the personal finance world. The key features with Quicken and most of the other options here is syncing with bank accounts and other financial accounts, which takes the work out of organizing all your transactions in your budget for you.
          This app is best for people who prefer to have a number of personal finance tools to their disposal, like cash flow, spending plans, spending watchlists, and savings goals. Just like with the traditional budgetting in the spending plan it shows how much is available after taking account all the expenses of the month, and it also has a seperate category to help you organize any miscellaneous expenses that come up! The pricing for this product is usually about $50 to $75 dollars a year depending on promotions
          <br></br>
          <b>
            <a href="https://www.monarchmoney.com">Monarch Money:</a>
            
          </b> This app is very similar to Quicken's one but the difference mainly lies in its budgetting interface. It gives you an actual and expected portion in your budget to give you better insight into how you did with budgetting that month. The interface of the app is one of the most aesthetically pleasing out of these three, but that also comes at the cost of it being about $100 per year.. yikes!
          <br></br>
          <b>
          <a href="https://copilot.money">Copilot Money:</a> </b>  This app is usually best for people within the Apple ecosystem, it has an incredibly fun, exciting design for a budgetting application, and it has most of the key features that the other two apps have, except goal planning which might be subject to change, see latest details <a href="https://changelog.copilot.money">here</a>. The pricing for this application is similar to Monarch Money as well at about $100 a year.
         
          <br></br>
          <b>Disclaimer:</b> We do not personally endorse any of the products listed above, these just happen to be the most common applications most people run into for budgetting applications. Definitely do your own research or consult a financial professional before taking financial advice from this page!
        </p>
      </p>

    </p>
    <h2>Setting Up an Emergency Fund</h2> Your number one priority should be setting aside some money in a emergency savings fund. These should be funds that are for EMERGENCIES ONLY, like a medical bill, car repair, or sudden incidents that require you to dish out a lot of money. This keeps you away from accumulating too much debt in cases of emergenices. 
    <p style="margin-left: 25px;">
      <br></br>
      Generally setting a goal of about three months of your typical living expenses in your emergency fund is a great start, but you should not immediately expect to save this really quickly. Try setting this goal according to how much you can feasibly saving per paycheck, don't stress too too hard about it!
      <br></br>
      For most emergency funds, it is best advised to deposit your money into a savings account or a money-market account, which keeps your fund "liquid", which means that it is easily able to be moved back and forth from your savings account to your checking account more info about that <a href="/banking">here</a>!
      <br></br>
      It is strongly recommended not to place your emergency fund in non-liquid assets like in an investment account or a Certificate of Deposit (CD) account.
      <br></br>      
      It is worth noting that because of SECURE 2.0, emergency funds are a bit easier to create because of the option to add it through your employer that grows in an investment account, with four tax free withdrawals per year.

    </p>

  </div>
{% endblock %}
