{% extends "base.html" %}
{% block body %}
<div class="container">
  <h1>Career Planning</h1>


  <div>
        <h2>Career Center:</h2>
      <p style= "margin-left: 25px;">
      Taking advantage of your college’s career center can be a great way to find jobs and internships easily during your college career. Specifically, for career and major counseling, if you are still unsure about what career path you are looking to do, or if you have not declared a major yet. Or before applying to internships or jobs, having the staff from your college’s career center look over your resumé can help set you up for success along with mock interviews and preparation to help reduce anxiety and stress when it comes to interviewing. 
      <br></br>
      <i>Networking!</i>
      <br></br>
      When on-campus events like career fairs or other opportunities that are announced by your college’s career center take advantage of them, bring a friend or setup an appointment with someone who is currently working in your desired field. For job fairs specifically, make sure to bring a resumé with you and introduce yourself to relevant employers that speak to you and your talents! 
      <br></br>
      Also, do not forget your professors themselves and their professional connections with other people can help expand your network as well as your peers!
      <br></br>
      <i>Workshops!</i>
      <br></br>
      Regularly, the career center at your college may offer workshops that encompass big career topics like, resumé workshops, internship workshops, or graduate school workshops. These workshops are one of the best ways to connect with your college’s career center in an informal and less scary way than booking a 1-1 appointment, and its always great to bring friends along to make it more comfortable.
      <br></br>
      </p>
      <h2>Making the most out of your College Experience:</h2>
      <p style= "margin-left: 25px;">
      Depending on your major, it may or may not necessarily dictate how much you can expect to earn after graduation, but it can be one of the few factors you might consider when it comes to selecting a major. Typically more analytical majors tend to earn more initially, and more humanities based majors have lower starting salaries. However, this can always change based on experiences through internships or through graduate degrees and research that help propel you compared to other applicants. 
      <br></br>
      Besides making use of the career center, taking advantage of events held outside the college that give you meaningful teamwork based projects can help you stand out in a sea of applicants applying for positions after graduation. Taking a role in leadership positions across campus along with working on campus jobs can also help with distinguishing yourself among job candidates.
      </p>

  </div>
  <br /> <center> <a class="btn btn-primary" href="/career_planning_q" role="button">Quiz</a> </center>
</div>
{% endblock %}
