{% extends "base.html" %}

{% block body %}
<div class="container">
  <h1>Career Planning</h1>


  <div>
    Preparing For Your First Job:

    Career Planning:

    Career Center:

    Taking advantage of your college’s career center can be a great way to find jobs and internships easily during your college career. Specifically, for career and major counseling, if you are still unsure about what career path you are looking to do, or if you have not declared a major yet. Or before applying to internships or jobs, having the staff from your college’s career center look over your resumé can help set you up for success along with mock interviews and preparation to help reduce anxiety and stress when it comes to interviewing. 

    Networking!

    When on-campus events like career fairs or other opportunities that are announced by your college’s career center take advantage of them, bring a friend or setup an appointment with someone who is currently working in your desired field. For job fairs specifically, make sure to bring a resumé with you and introduce yourself to relevant employers that speak to you and your talents! 

    Also, do not forget your professors themselves and their professional connections with other people can help expand your network as well as your peers!

    Workshops!
    Regularly, the career center at your college may offer workshops that encompass big career topics like, resumé workshops, internship workshops, or graduate school workshops. These workshops are one of the best ways to connect with your college’s career center in an informal and less scary way than booking a 1-1 appointment, and its always great to bring friends along to make it more comfortable.

    Making the most out of your college experience:

    Depending on your major, it may or may not necessarily dictate how much you can expect to earn after graduation, but it can be one of the few factors you might consider when it comes to selecting a major. Typically more analytical majors tend to earn more initially, and more humanities based majors have lower starting salaries. However, this can always change based on experiences through internships or through graduate degrees and research that help propel you compared to other applicants. 

    Besides making use of the career center, taking advantage of events held outside the college that give you meaningful teamwork based projects can help you stand out in a sea of applicants applying for positions after graduation. Taking a role in leadership positions across campus along with working on campus jobs can also help with distinguishing yourself among job candidates.


    Comparing Jobs:

    Jobs with Loan Cancellation Programs:

    For certain employers and professions, it’s possible to eliminate or reduce the student debt burden through programs like PSLF and TLF. For teachers, the TLF (Teacher Loan Forgiveness) Program (https://studentaid.gov/manage-loans/forgiveness-cancellation/teacher) can eliminate up to $17,500 in student loans, and teachers can be eligible for Federal Perkins Loan cancellation as well (https://studentaid.gov/manage-loans/forgiveness-cancellation/perkins). For the PSLF (Public Service Loan Forgiveness) program (https://studentaid.gov/manage-loans/forgiveness-cancellation/public-service), working full-time for a governmental agency or organization or a nonprofit organization will qualify you for this program which cancels your loans after 10 years of on-time monthly payments. 

    A great tool to check if your employer is part of PSLF is found here: (https://studentaid.gov/pslf/employer-search)


    Volunteer organizations like the AmeriCorps, Peace Corps, and the Volunteers in Service to America can also help with deferring or cancelling part of student loans. Be sure to ask an advisor from one of these organizations how you can take advantage of the opportunity. Military personnel, firefighters, and lawyers can also take advantage of programs for student loan assistance. Also, doctors, nurses, medical researchers, and veterinarians can take advantage of multiple different types of loan assistance programs. 

    Healthcare Packages:

    Health Insurance:

    For most traditionally aged college students, comparing healthcare packages is not much of a priority until age 26, since most students can remain as a dependent on their parents’ health insurance.

    However, for students that are either not traditionally aged and have a parent with health insurance, checking out packages is a top priority when comparing jobs. For these students, comparing plans like fee-for-service and managed care plans can be daunting, however the makeup of the plans are outlined as follows:

    Fee-for-service plans: Essentially a custom healthcare plan that keeps the healthcare providers that you choose while the insurance pays for part of the service cost, these typically require a per-claim basis to get reimbursement for care. Being very customized, it can also lead to some drawbacks like not being guaranteed services by providers out of the scope of the plan.

    Managed care plans: Healthcare plans that only allow you to see a “network” of providers from a preapproved list. These plans are usually the most common and a bit more flexible during emergencies compared to fee-for-service plans. There are however three different types of these managed care plans:
      Health Maintenance Organization (HMO): One of the most commons managed care plans that has a limited list of providers in its network, requires less paperwork compared to other plans, and covers most preventative care. However, it may lead to higher out-of-pocket costs when receiving care (colloquially known as copay).
      Preferred Provider Organization (PPO): More traditional “in-network” coverage, you are expected to only visit the providers in a prearranged list and anything “out-of-network” requires paying more out of pocket costs.
      Point of Service (POS): This plan incorporates both the HMO and PPO models, where your primary care physician serves as an advisor and refers you to specialists on an as needed basis. This makes it so that plan-approved providers reduce your out of pocket costs (copay) or deductible (pre insurance amount). While the opposite is true for non approved providers, unless you receive a referral. 

    For all of these plans, there is something called a premium, which is basically a monthly healthcare subscription fee that is automatically paid through your paycheck. 

    HSAs and FSAs:

    These plans typically act as a backup to heal thing 


    Rules of Thumb for Comparing Jobs:

    Make sure to evaluate what offer best suits your personal values and goals for your career, this usually involves looking at the market rate on sites like Glassdoor or Indeed to make sure that you are being paid fairly based on your experience. It’s also important to compare the salary given for the job with the cost of living in the area for in person jobs, and it is not much of an issue for remote jobs. Most importantly, it’s important to compare benefits packages between companies, usually healthcare plans, retirement plans, vacation and sick day policies, and any other perks and offers like student loan forgiveness, or amenities and subscriptions to nearby services.  

    Taxes 101:

    Paycheck Taxes:

    Filing Taxes:

    Reducing Taxes: https://www.irs.gov/individuals/tax-withholding-estimator




    Retirement:

    Roth vs. Traditional Plans: For each type of retirement plan like 401(k)s and IRAs, there’s typically two options provided usually Traditional or Roth options. For 401(k)s and 403(b)s, Traditional 401(k)s are usually referred as just a 401(k) and the same for 403(b)s…

      Roth: This type of retirement account is usually the most preferred type whenever available, because of its tax advantages. This type of account usually gives a tax advantage over a traditional retirement savings account, since all contributions are already taxed before hand and any withdrawals are tax-free since the contribution was already taxed before. Therefore, you can accumulate a sizable nest egg and not pay additional taxes on your investments! However, for Roth IRAs, they are only available to contribute to within certain income limits set by the IRS (*It is worth noting there is a strategy to avoid these income limits called Backdoor Roth IRAs, which is explained here: https://investor.vanguard.com/investor-resources-education/article/how-to-set-up-backdoor-ira).

      Traditional: For these accounts, contributions are not taxed before depositing them into the account, since taxes will be taken out upon withdrawing money out of the account. These accounts are always available by most employers, and if there is no option to add a Roth 401(k) or 403(b) plan, they are still a good option to invest in. 

    It is worth noting that these two plans are not mutually exclusive, and you can have a Roth account and a Traditional account, and contribute up to the yearly limits for both. 


    401(k) and 403(b) Plans: These plans typically are provided by your employer, and starting in the beginning of the year 2025, new employees will be automatically enrolled into these plans by their employers because of SECURE 2.0 (for more info check this link: https://www.fidelity.com/learning-center/personal-finance/secure-act-2). Therefore, this part is not really much of a worry for new graduates as compared to before!

    For 401(k) and 403(b) Plans, it’s important to look at the employer matching contribution and try to at least match it, typically this is about 6% of your income and employers match from 50¢ to $1 per dollar contributed into the plan. Therefore, you get additional value from 9% to 12% of your total income! 

    IRA Plans: Compared with 401(k) and 403(b) plans, IRA plans are more of an individual retirement option. There are however different options for IRAs, usually called “self-directed investing” where you can control what investments you would like to contribute to, or you can have a company pick the investments for you based on your risk tolerance (essentially how much risk you are willing to take on losses based on stock market performance). IRAs also have an additional type of account called a Rollover, which is primarily used to either create a Backdoor Roth IRA like mentioned earlier, or to transfer an old 401(k) or 403(b) plan, which typically happens when changing employers. 

    Early Withdrawals: Depending on your financial situation, you may have to tap into your retirement savings as a last resort. For cases of extreme emergency, it is possible to get an exception to the tax consequences of withdrawing early because of the SECURE 2.0 act, specifically for major disasters, victims of domestic abuse, personal emergencies, or terminal illness. Otherwise, before the age of 59 1/2, early withdrawals usually incur a tax liability (essentially owing more taxes on top of the withdrawn amount). 

    Early Retirement: FIRE method and Roth Conversion Ladder


  </div>
  <center> <a class="btn btn-primary" href="/career_planning_q" role="button">Quiz</a> </center>
</div>
{% endblock %}
