{% extends "base.html" %}

{% block body %}
<div class="container">
  <h1>Comparing Jobs</h1>

  <div>
    <h2>Jobs with Loan Cancellation Programs:</h2>
    <p style= "margin-left: 25px;">
      For certain employers and professions, it’s possible to eliminate or reduce the student debt burden through programs like PSLF and TLF. For teachers, the
      <a href ="https://studentaid.gov/manage-loans/forgiveness-cancellation/teacher">TLF (Teacher Loan Forgiveness)</a>
       Program can eliminate up to $17,500 in student loans, and teachers can be eligible for 
      <a href="https://studentaid.gov/manage-loans/forgiveness-cancellation/perkins">Federal Perkins Loan cancellation</a>
        as well. For the 
      <a href="https://studentaid.gov/manage-loans/forgiveness-cancellation/public-service">PSLF (Public Service Loan Forgiveness)</a>
         program, working full-time for a governmental agency or organization or a nonprofit organization will qualify you for this program which cancels your loans after 10 years of on-time monthly payments. 
      <br></br>
      A great tool to check if your employer is part of PSLF is found 
      <a href="https://studentaid.gov/pslf/employer-search">here</a>!
      <br></br>
      Volunteer organizations like the AmeriCorps, Peace Corps, and the Volunteers in Service to America can also help with deferring or cancelling part of student loans. Be sure to ask an advisor from one of these organizations how you can take advantage of the opportunity. Military personnel, firefighters, and lawyers can also take advantage of programs for student loan assistance. Also, doctors, nurses, medical researchers, and veterinarians can take advantage of multiple different types of loan assistance programs. 
  
    </p>
    <h2>Healthcare Packages:</h2>
    <br></br>
    <h3> Health Insurance:</h3>
    <p style= "margin-left: 25px;">
    For most traditionally aged college students, comparing healthcare packages is not much of a priority until age 26, since most students can remain as a dependent on their parents’ health insurance.
    <br></br>
    However, for students that are either not traditionally aged and have a parent with health insurance, checking out packages is a top priority when comparing jobs. For these students, comparing plans like fee-for-service and managed care plans can be daunting, however the makeup of the plans are outlined as follows:
    <br></br>
    <b> Fee-for-service plans:</b>
   Essentially a custom healthcare plan that keeps the healthcare providers that you choose while the insurance pays for part of the service cost, these typically require a per-claim basis to get reimbursement for care. Being very customized, it can also lead to some drawbacks like not being guaranteed services by providers out of the scope of the plan.
    <br></br>
    <b>Managed care plans:</b>
    Healthcare plans that only allow you to see a “network” of providers from a preapproved list. These plans are usually the most common and a bit more flexible during emergencies compared to fee-for-service plans. There are however three different types of these managed care plans:
    <p style= "margin-left: 50px;">
      <b>Health Maintenance Organization (HMO):</b>
     One of the most commons managed care plans that has a limited list of providers in its network, requires less paperwork compared to other plans, and covers most preventative care. However, it may lead to higher out-of-pocket costs when receiving care (colloquially known as copay).
    <br></br>
    <b>Preferred Provider Organization (PPO):</b>
     More traditional “in-network” coverage, you are expected to only visit the providers in a prearranged list and anything “out-of-network” requires paying more out of pocket costs.
    <br></br>
    <b>Point of Service (POS):</b>
     This plan incorporates both the HMO and PPO models, where your primary care physician serves as an advisor and refers you to specialists on an as needed basis. This makes it so that plan-approved providers reduce your out of pocket costs (copay) or deductible (pre insurance amount). While the opposite is true for non approved providers, unless you receive a referral. 
    </p>
    For all of these plans, there is something called a premium, which is basically a monthly healthcare subscription fee that is automatically paid through your paycheck. 
    <br></br>
    </p>
    <h3>    HSAs and FSAs:</h3>
    These plans typically act as a backup to a healthcare plan, they allow you to set aside pre-taxed money from your paycheck to applicable health expenses. Think of these accounts as a “bank” account for medical purposes only. Depending on the type of account, you may have differences in how you own the account, how you can use it, and how it gains interest.
    <br></br>
    <p style= "margin-left: 25px;">
      <b>HSAs: </b>
      Acts like a personal investment account for medical expenses, they generate interest year-by-year and are tied to you, which makes them flexible across new employers. They also permit the use for withdrawals for non-medical expenses with restrictions and taxes. They do however require you to have High Deductible Health Plan and may not be available to everyone.
      <br></br>
    <b>FSAs: </b>
      These accounts are solely like an employer owned medical savings account. It’s typically advised to use it up during the year unless there’s a rollover feature to them. They also do not generate interest, and only is available for medical expenses.   

    </p>  <br></br>
    <h3>Rules of Thumb for Comparing Jobs:</h3>
    Make sure to evaluate what offer best suits your personal values and goals for your career, this usually involves looking at the market rate on sites like 
    <a href="https://www.glassdoor.com/Salaries/index.htm">Glassdoor</a>
    or 
    <a href="https://www.indeed.com/career/salaries">Indeed</a>
    to make sure that you are being paid fairly based on your experience. It’s also important to compare the salary given for the job with the cost of living in the area for in person jobs, and it is not much of an issue for remote jobs. Most importantly, it’s important to compare benefits packages between companies, usually healthcare plans, retirement plans, vacation and sick day policies, and any other perks and offers like student loan forgiveness, or amenities and subscriptions to nearby services.  

  </div>
</div>
{% endblock %}
