{% extends "page_template.html" %}

{% block body %}
<div class="container">
    <h2>Quiz</h2>
    
    <!-- Question section -->
    <div class="question">
        <p><strong>Question:</strong> What credit factor encompasses most of your credit score?</p>
    </div>

    <!-- Answer options -->
    <form action="/submit-answer" method="POST">
        <div class="answers">
            <label>
                <input type="radio" name="answer" value="A">
                A. Credit Usage (Percentage of Use) 
            </label>
            <br></br>
            <label>
                <input type="radio" name="answer" value="B">
                B. Credit Mix (Diversity of Account Types)
            </label>
            <br></br>
            <label>
                <input type="radio" name="answer" value="C">
                C. Credit Age (length of credit, averaged, or the oldest account)
            </label>
            <br></br>
            <label>
                <input type="radio" name="answer" value="D">
                D. Payment History (the percentage of months of ontime payments)
            </label>
            <br></br>
            <label>
                <input type="radio" name="answer" value="E">
                E. Credit Inquiries (number of inquiries done in the past two years)
            </label>
        </div>

        <input type="hidden" name="please" value="A">     
        <input type="hidden" name="do not" value="B">     
        <input type="hidden" name="cheat, please" value="C">
        <input type="hidden" name="think" value="D">
        <input type="hidden" name="about your response" value="E">

        <!-- Submit button -->
        <br />
        <div class="submit-btn">
            <button type="submit">Submit Answer</button>
        </div>
    </form>
</div>

{% endblock %}