{% extends "page_template.html" %}

{% block body %}
<div class="container">
  <h1>Credit Cards:</h1>
  <div>
    <h2>Living Without Them:</h2>
    <p style= "margin-left: 25px;">
      Credit cards are not a necessity for some people, they could have existing debt obligations that might make it unfeasible for them to get credit cards, or they simply choose not to or are unaware of how they work.
      There's also people who may have trouble with managing their spending, and having a debit card might be easier since it gives them a limit to how much they can spend.
      <br></br>
      There are a few other options that Credit Cards, paying exclusively with cash, using debit cards, prepaid cards, or not using a "traditional" credit card, but instead a thing called a "secured" credit card, which is where you put down a cash deposit and it gives you a limit on how much you can spend up to the deposited amount.
    </p>
    <h2>Managing Credit Cards</h2>
    <p style= "margin-left: 25px;">
      <b>What are Credit Cards?</b> Unlike debit cards, these cards act as a "revolving loan" that a bank or institution gives you and it has a "credit limit", which is the maximium amount that you can have at any given time. This also means that making purchases with your credit card do not come from your 
    <a href="/banking">checking account</a> directly rather you are using the "bank's" money instead. Because you owe the bank money per purchase, you usually pay off your balance every month based on the last month's purchases.
    <br></br>
    <b>Perks of Credit Cards:</b> Since your purchases are tied to an account that is not going to directly remove money from your checking account, and it is money loaned to you by a financial institution, then there are more support options when it comes to dealing with fraud. Generally, banks have a much easier time dealing with fraud cases when they are related to credit cards than debit cards, since most debit card cases require additional investigation. This could mean that if someone stole your debit card and used it, it's a lot harder to get the money back that you lost from it compared to using a credit card! 
    Also, credit cards come with rewards programs which are usually about 1% to up to ~5% or more depending on the structure of the card, which gives you "cash back" on your purchases. Since it is a pretty miniscule amount, it does take a lot of spending to afford redeeming credit card rewards for purchases that you care about. However, most credit cards usually have sign-up bonuses that can assist you with additional rewards within the first couple months of using them. This usually means that if you expect to have a large purchase in the coming months, that you can apply for a new card and then put your anticipated spending on it and receive a usual effective rate of about 10-25%.
    <br></br>
    <b>Smart Credit Card Habits:</b> 
    <p style= "margin-left: 50px;">
      <b> Choosing a Card:</b> An important factor to take into account for credit cards is not simply getting a credit card because you received an offer in the mail. If you are starting to find credit cards, make sure to look for one with no annual fee, low interest rates (offers with 0% APR for a few months can be great, except make sure you do not overspend after the period!), and if you are comfortable with managing your spending, one with credit card rewards can be a great bonus!
      <br></br>
      <i>A website to check out credit card offers is at <a href="https://www.creditcards.com">CreditCards.com</a></i>
      <br></br>
      <b>Rules of Thumb:</b> Ideally, the most financially responsible way to manage a credit card is to pay off the FULL balance every month whenever possible. This help reduces interest charges that are billed to you, and credit cards are one of the most highest interest rates of any type of loan. Setting up automatic payments and smart budgeting are key to avoiding paying the minimum balance or failing to pay your bill which dings your credit score! When applying for multiple credit cards at start, its a general rule of thumb to apply within about 6 months to 12 months between each card. For some banks like Chase, there can be a limit to how many you can apply within a set period also known as the 5/24 rule, where there can be no more than 5 credit cards within a 24 month period.
    </p>
  </p>
    <h2>Understanding Credit Card Rewards</h2>
    <p style= "margin-left: 25px;">
      <b>Cash-Back Model:</b> This is the second common credit card rewards model, it usually only allows you to receive about 1% to 5% of your money back for each purchase, and the redeeming options can be limit to just withdrawing to a checking account, but these programs are usually tied in with the Points Model!
      <br></br>
      <b>Points Model:</b> This is the most common credit card rewards model, most banks have their own type of points. For example, for American Express, its Membership Rewards, for Chase Bank, its Ultimate Rewards, and for Citibank its ThankYou Points. These points usually can be redeemed with airline travel partners or from the other avenues mentioned before with the Cash Back model. For most banks, 1 point usually translates to about 1¢ in actual value, however with airline transfers it can increase up to about 1.4¢, and some tiers of credit cards can offer additional bonuses on top of them making points worth from 25% to about 50% more (Chase Sapphire line).
      <br></br>
      <b>Airline Mileage Model:</b> Just like the points model, this model uses the points method, but they are called miles instead. They mostly only let you redeem these for flights within the same airline, or depending on the airline, with their partners as well!
      <br></br>
      <b>Store Card Model:</b> This model can be similar to either the Cash-Back model or the Points Model depending on the store. These are the types of models you hear the most about when people talk about credit cards, they usually incentivize you to shop at the store more often to get more "store credit", they also give you the option to use essentially a "buy now, pay later" loan which can help you with buying products in the store.
    </p>
    <h2>Credit Score 101</h2>
    <p style= "margin-left: 25px;">
      <b>Credit Score Tiers:</b> Think of credit scores more like a report card, for most people will typically have between a 600-700 credit score when getting out of college, which is about a C to B letter grade. For people who have had a more expansive credit portfolio scores can range up to the 750s up to the 800s.
      <br></br>
      These scores are usually calculate by a number of credit factors that are usually done by FICO (Fair Isaac Corporation) and they are received by credit reporting agencies like Experian, TransUnion, and EQUIFAX.
      <br></br>
      <b>How it is Calculated:</b>
      <p style= "margin-left: 25px;">
        For FICO credit scores, the following factors take up a percentage of the score:
        <br></br>
        <b>Payment History (35%):</b> Referring to how many "on time " payments that you make towards not only credit cards, but other loans like student loans, car loans, and mortgages. By paying these accounts' monthly balances every month, you can usually get a good score in this category. However, if you start missing payments, it will take into affect your score  and can result in credit collection agencies that will add dings to your credit score.
        <br></br>
        <b>Credit Usage (30%):</b> Essentially, how much of your credit that you are using (usually the current balance on your accounts divided by the total credit limit or loan limit). A general rule of thumb is having below a 30% utilization rate, however, most often to get higher scores it's best advised to keep this under 10%. If you notice that your score is a low after making a credit card payment, it is worth noting that banks typically report to credit agencies a few days after your payment due date called a "closing date" this means that if you make purchases right after your balance is due, and they are fully processed then they will show up on your report and score.
        <br></br>
        <b>Credit Age (15%):</b> This refers to how long you have had your accounts opened, and the metric usually depends on the average age of all your accounts. In general, when graduating college, your student loans already take into affect about 4 years of credit history, which is a decent start to getting a good credit score. Of course the next category can further propel your credit score from this point! This is unfortunately where most new graduates will get the most dings out of their credit score, since people with a history of about 10+ years or more tend to do better in category... Therefore, with time, this category begins to contribute more to your score!
        <br></br>
        <b>Account Mix (10%):</b> Having a good mix of accounts can help show creditors or banks how you can manage a diversity of different accounts. Since most students start with student loans, this is one type of account, and usually creditors want to see you own multiple like credit cards, auto loans, and home loans. This is one of the key ways besides the previous factors that creditors approve you for new loans!
        <br></br>
        <b>Credit Inquiries (10%):</b> The most straightforward factor, anytime you apply for a loan or credit card, a bank or loan provider will get a "hard inquiry" which takes your full credit report and score into account before approving or denying you a financial product. Compared with "soft inquiries", which usually occur when you check your credit score through platforms like 
        <a href="https://www.creditkarma.com">Credit Karma</a>
        , 
        <a href="https://www.creditsesame.com">Credit Sesame</a>
        , or 
        <a href="https://www.experian.com">Experian</a>. It is worth noting that these take a negative effect on your score if there are more of them, compared with the rest. Although the amount is not that much since its the lowest percentage of your score, and every two years hard inquiries are removed from your report.
      </p>

    </p>
</div>
<br /> <center> <a class="btn btn-primary" href="/submodules/credit_cards_q" role="button">Quiz</a> </center>
</div>
{% endblock %}