{% extends "page_template.html" %}

{% block body %}
<div class="container">
  <h1>Debt Management Techniques</h1>
  <div>
    <h2>Debt Avalanche:</h2> This method prioritizes looking at the interest rates of existing debts, usually going and paying off the highest interest rate first and then moving onto the next one. This is great for people with high interest debts, and it is the most mathematically effective method compared to these two because you reduce the potential interest charges versus not doing this method.
    <h2>Debt Snowball:</h2> This method prioritizes looking at the smallest balances of each of your accounts first, and then moving onto bigger ones. This is usually the typical way to pay down debts at first and its the most approachable to most people since you could burden yourself if your high interest rate debt ends up being one of the highest balances. It's also the best type of one to get motivation for setting goals in debt management since you can set goals as you go!
    For more information on both methods check out this 
    <a href="https://www.investopedia.com/articles/personal-finance/080716/debt-avalanche-vs-debt-snowball-which-best-you.asp">page</a>!
  </div>
</div>
{% endblock %}