{% extends "base.html" %}

{% block body %}
<div class="container">
    <h2>Quiz</h2>
    
    <!-- Question section -->
    <div class="question">
        <p><strong>Question:</strong> What of these investment options would be the best for long-term investment? <br></br>(<b>Note:</b> These are real investment options!)</p>
    </div>

    <!-- Answer options -->
    <form action="/submit-answer" method="POST">
        <div class="answers">
            <label>
                <input type="radio" name="answer" value="A">
                A. FFIJX (2065 Target Date Mutual Fund) with an average return of 11%, with an expense ratio of 0.13%
            </label>
            <label>
                <input type="radio" name="answer" value="B">
                B. TSLA (Tesla Stock) with an average return of 12.42%
            </label>
            <label>
                <input type="radio" name="answer" value="C">
                C. VOO (Vanguard S&P 100 ETF *Top 100 Companies in US*) with an average return of 14% with an expense ratio of 0.03%
            </label>
            <label>
                <input type="radio" name="answer" value="D">
                D. U.S. Treasury I-Bonds (Inflationary Based Bonds) with an average return of 4%
            </label>
        </div>
        <input type="hidden" name="think" value="A">
        <input type="hidden" name="bout stonks" value="B">
        <input type="hidden" name="you gotta think" value="C">
        <input type="hidden" name="bout them stonks..." value="D">

        <!-- Submit button -->
        <br />
        <div class="submit-btn">
            <button style="border-radius: 20px" type="submit">Submit Answer</button>
        </div>
    </form>
</div>

{% endblock %}