{% extends "base.html" %}

{% block body %}
<div class="container">
  <h1>Investment & Retirement Basics</h1>
    <div>
      <h2>Investment 101:</h2>
      <p style="margin-left: 25px;">
        <b>Diversification and Risk 101:</b> Generally when you start investing you want to assess your risk, that is how much are you willing to likely lose in the market based on the volatility (which simply means how often the market goes up and down). When it comes to reducing risk, there are a number of options to check out:
        <p style="margin-left: 50px;">
          <b>Stocks (STONKS):</b> These are usually shares (partial ownership of a company) that helps a company grow, in return for your investment, companies usually offer dividend (similar to interest with savings accounts) which comes from a company's quarterly or yearly profits usually. It is worth noting that this is the most volatile and high risk stock, since there is never a guarantee that the company will increase in value indefinitely, and it is possible for a stock to simply crash down to $0 because of poor management of the company.
          <br></br>
          <b>Bonds:</b> These are most similar to Certificate of Deposits (CDs), except the safety of the bond depends on the issuer, with the federal government typically being the safest, and depending on the bond, namely the I-Bond, interest rates may fluctuate depending on current financial conditions. These can be risky, especially if the issuer files for bankruptcy or fails to pay back the bond after the maturity period.
          <br></br>
          <b>Mutual Funds:</b> This is one of the best investment vehicles to help diversify portfolios since they are usually a portfolio managing team working for your financial institution that already purchased a selection of stocks and bonds that are then pooled to investors. This cuts most of the guessing work for finding individual investments, and you can easily dip into investment categories that align with your interests! It is worth noting that just like stocks, 
          the amount money can be volatile which means that it is possible for it to go near to $0, however because of the inherent diversification in the portfolio, it is less likely to happen unless a full stock market crash happens. These are probably the type of investments most people want to research, especially if the mutual fund is a non target date fund (target date funds are essentially retirement mutual funds that automatically sets a portfolio based on your age group!).
          <br></br>
          <b>Exchange-Traded-Funds:</b> These are pretty similar to Mutual Funds in all regards, except these typically encompass one of the previous categories like stocks, bonds, or other types of investments like real estates. Just like mutual funds, ETFs are managed by portfolio managers, and the difference being some ETFs may be exclusive to the brokerage (financial provider) that you have an account with, which can restrict moving between brokerages in the case of rollovers...
          No matter which investment vehicle you choose, an important factor when deciding between these is the expense ratio, which is almost like a "tax" on top of the earnings that you receive from the investment, having a low expense ratio on any of these is ideal to make the most out of your gains!
        </p>
      </p>





      <h2>Retirement 101:</h2>
      
      <p style= "margin-left: 25px;">
        <b>Roth vs. Traditional Plans:</b>
        For each type of retirement plan like 401(k)s and IRAs, there’s typically two options provided usually Traditional or Roth options. For 401(k)s and 403(b)s, Traditional 401(k)s are usually referred as just a 401(k) and the same for 403(b)s…
        <p style= "margin-left: 50px;">
         <b>Roth:</b>
          This type of retirement account is usually the most preferred type whenever available, because of its tax advantages. This type of account usually gives a tax advantage over a traditional retirement savings account, since all contributions are already taxed before hand and any withdrawals are tax-free since the contribution was already taxed before. Therefore, you can accumulate a sizable nest egg and not pay additional taxes on your investments! However, for Roth IRAs, they are only available to contribute to within certain income limits set by the IRS (*It is worth noting there is a strategy to avoid these income limits called Backdoor Roth IRAs, which is explained 
          <a href="https://investor.vanguard.com/investor-resources-education/article/how-to-set-up-backdoor-ira"> here</a>.
         <br></br>
         <b>Traditional:</b>
         For these accounts, contributions are not taxed before depositing them into the account, since taxes will be taken out upon withdrawing money out of the account. These accounts are always available by most employers, and if there is no option to add a Roth 401(k) or 403(b) plan, they are still a good option to invest in. 
        </p>
        <p style= "margin-left: 25px;">
          It is worth noting that these two plans are not mutually exclusive, and you can have a Roth account and a Traditional account, and contribute up to the yearly limits for both. 
        </p>
      </p>
      
      <p style= "margin-left: 25px;">
        <b>401(k) and 403(b) Plans:</b>
         These plans typically are provided by your employer, and starting in the beginning of the year 2025, new employees will be automatically enrolled into these plans by their employers because of 
         <a href="https://www.fidelity.com/learning-center/personal-finance/secure-act-2">SECURE 2.0</a>.
         
         
         Therefore, this part is not really much of a worry for new graduates as compared to before!
        <br></br>
        For 401(k) and 403(b) Plans, it’s important to look at the employer matching contribution and try to at least match it, typically this is about 6% of your income and employers match from 50¢ to $1 per dollar contributed into the plan. Therefore, you get additional value from 9% to 12% of your total income! 

      </p>
      
      <p style= "margin-left: 25px;">
        <b>IRA Plans:</b>
         Compared with 401(k) and 403(b) plans, IRA plans are more of an individual retirement option. There are however different options for IRAs, usually called “self-directed investing” where you can control what investments you would like to contribute to, or you can have a company pick the investments for you based on your risk tolerance (essentially how much risk you are willing to take on losses based on stock market performance). IRAs also have an additional type of account called a Rollover IRA, which is primarily used to either create a Backdoor Roth IRA like mentioned earlier, or to transfer an old 401(k) or 403(b) plan, which typically happens when changing employers. 
      
      </p>
      <p style= "margin-left: 25px;">
        <b>Early Withdrawals:</b>
        Depending on your financial situation, you may have to tap into your retirement savings as a last resort. For cases of extreme emergency, it is possible to get an exception to the tax consequences of withdrawing early because of the SECURE 2.0 act, specifically for major disasters, victims of domestic abuse, personal emergencies, or terminal illness. Otherwise, before the age of 59 1/2, early withdrawals usually incur a tax liability (essentially owing more taxes on top of the withdrawn amount). 
       <br></br>
        <b>Early Retirement: </b>
       There are also financial movements such as 
       <a href="https://www.investopedia.com/terms/f/financial-independence-retire-early-fire.asp">F.I.R.E (Financial Independence Retire Early)</a>
       
      . Proponents of this method advocate for retiring early through a number called an FIRE number or commonly a FU (yes, that...) number, which is the amount of money needed to sustain typical expenses during a early retirement period.
       
       
       One of the ways that people using the FIRE strategy achieve this is through a 
       <a href="https://www.investopedia.com/how-roth-conversion-ladder-works-5214808">Roth Conversion Ladder</a>. This method allows you to contribute to an IRA and withdrawal early through rolling over Traditional IRA funds to a Roth IRA, so that there is a grace period to withdraw and basically “collect” an “income” from your IRAs.
         
      </p>
     
      </p>

    </div>
    
</div>
<br /> <center> <a class="btn btn-primary" href="/investment_basics_q" role="button">Quiz</a> </center>
{% endblock %}