{% extends "page_template.html" %}

{% block body %}
<div class="container">
  <h1>Major Purchases</h1>
  <div>
    <h2>Purchasing a Car:</h2>
    <p style="margin-left: 25px;">
      <b>Financing vs. Leasing:</b>
      <p style="margin-right: 50px;">
        Depending on how you take care of your car and if its a new car or not, there are usually these two options:
        <br></br>
        <b>Financing:</b> This is where you usually have a down payment on a car or a trade-in with a previous car and then you pay monthly payments with interest on the purchase price of the car along with sales tax depending on your state.
        Similar to the budgeting 50/30/20 rule, there's typically a general financial rule for financing a car, called the 20/4/10 rule. In the rule, you usually put about 20% of the purchase price as a down payment or through a previous car's trade-in value. Then, you usually want to pay off a loan within 4 years, this can either be paying down a 35-month or 72-month loan in 48 months or getting a 48 month loan, there are many different interpretations for this. And, you want to calculate the cost of insurance, fuel, maintenance, and carpayments so that it is below 10% of your gross income so that you can avoid potential financial hardships related to transportation.
        This rule is generally a good way to reduce stress, however the high down payment, and usually higher monthly payments because of shorter loan terms might not be suitable for all...
        <b>Leasing:</b> This method usually ends up being the most enticing out of the two because of low monthly payments, essentially you are "renting" your car out from the dealership, and you pay sales tax and a financial rate called "money factor" for your monthly payments. The caveat is you are signing a contract with a dealer, and after the contract is over, you are expected to return the car back in good condition and not exceeding mileage limits set in the contract.
        In either case, negotiating with a dealer can help you get a better monthly payment, but depending on the dealer there might not be much room for flexibility...
      </p>
      <b>Rule of Thumb and Resources!</b>: Generally for the first thing to consider is what kind of car you can afford and would like, such as having a basic car to get around town, or having a truck for a job, etc. 
      <br></br>
      Checking out websites like 
      <a href="http://www.kbb.com/">KBB (Kelly Blue Book)</a> and <a href="http://www.edmunds.com/">Edmunds</a>, are great for looking for cars and assessing how much you can afford. Shopping around is a good idea to look between dealers to make sure that you get a good deal, and checking with Kelly Blue Book is a great way to see if you got a good price!
      <br></br>
      <br>Shopping for Used Cars:</br> When shopping for used cars, you typically want to obtain a free 
      <a href="https://www.carfax.com">CarFAX</a> report so that you can see how many accidents the car had previously went through and to check the maintenance history to see if you might run into problems down the road...
      <br></br>
      Also, it's important to look at any damage in the car, test drive it carefuly to make sure its running okay, and to have it inspected by a qualified mechanic!
      

    </p>
    <h2>Buying a Home:</h2>
</div>
</div>
{% endblock %}