{% extends "page_template.html" %}

{% block body %}
<div class="container">
  <h1>Taxes</h1>
<div>
<h2>Paycheck Taxes:</h2>
<p style= "margin-left: 25px;">
  When you get your first paycheck, you typically would not receive the full amount of your pay (otherwise known as gross pay):
  <br></br>
  For example, if you are being paid about $50,000 a year, you would expect that you would receive about ~$2,000 on a bi-weekly basis, this is known as gross pay!
  <br></br>
  But! You would typically receive about $1,600, this is known as net pay, and is what you would get as your paycheck!
  <br></br>
  The taxes that dictate the difference between Gross Pay and Net Pay are the following:
  <p style="margin-left: 50px;">
    <b>FICA Taxes:</b> These are under the Federal Insurance Contributions Act, which are federally require contributions that are made to Social Security and Medicare.
    <b>Federal Income Taxes:</b> This tax is usually required taxes that go straight to the federal government, since the United States is in a progressive tax system, it means that
    as you earn more the tax rate increases, but the previous tax rate is capped up to a certain amount. 
    <br></br>
    So, for example, if you earned $50,000 a year, you would pay taxes in the following way:
    <p style="margin-left: 70px;">
      The First Bracket, <b>10%</b>: Since the 10% rate is taxable from $0 to $11,000, then there's about $1,100 in taxes at this rate,
      <br></br>
      The Second Bracket, <b>12%</b>: This rate goes from $11,001 to $44,725, then the taxes from this bracket is about $4,047 in taxes,
      <br></br>
      The Third Bracket, <b>22%</b>: This rate goes from $44,726 to $95,375, thus the taxes from this bracket is about $1,160, notice that this is pretty similar to the rate for the 10%!
      <br></br>
      In total, the taxes would be $6,307, compare it to if the salary was taxed at just 22% and that would be $11,000, which would be quite the tax burden!
      <br></br>
      These figures are from the 2023 tax year, and they change year by year for the latest information on the current brackets, check 
      <a href="https://www.irs.gov/filing/federal-income-tax-rates-and-brackets">here</a>.
    
    </p>
    For most employers, they typically take part of your paycheck aside for paying Federal Income taxes usually called "Withholding", for more information on withholding and how to adjust your tax refund check 
    <a href=" https://www.irs.gov/individuals/tax-withholding-estimator">here</a>!
    <br></br>
    <b>State Taxes:</b> This tax usually goes to your state government and heavily depends on which state you live in, for more info check out this 
    <a href="https://www.nerdwallet.com/article/taxes/state-income-tax-rates">website</a>.
    <br></br>
    <b>Local Taxes:</b> This tax is less common than the state taxes, but some cities and states will impose a local tax. For information if the city you live in has local taxes check 
    <a href="https://www.adp.com/resources/tools/local-tax-code-locator.aspx">here</a>!

  </p>

</p>
<h2>Filing Taxes:</h2>
  <p style="margin-left: 25px;">
    <h3>When to File Your Taxes:</h3> Usually the deadline for submitting your federal tax return is at April 15, but it's usually a really good habit to do it beforehand, make sure to keep your W-2/1099 (income documents sent from your employer) and anything else that can help with deductions like your financial aid statements or student loan documents.
    <br></br> A good rule of thumb is to start filing once you have received all the documents that you expect to use for your return, you can always check any institution like investment accounts or interest-bearing accounts websites to see when they typically send out tax documents!
    <br></br> Of course, if there are things that come up close to April, you can always <a href="">file for a six-month extension</a> to submit your tax return. There shouldn't be any reason to completely forget to file your tax forms, since you can be <a href="https://www.irs.gov/payments/penalties">penalized</a> by the IRS (Internal Revenue Service)!
    <br></br>
    <h3>Filing Your Taxes!</h3>
    This is definitely the most fun part of taxes... not really but it can be easy from the following options:
    <br></br>
    <p style = "margin-left: 50px;">
      <b>Self-Prepared:</b> This option is usually dependent on your tax situation, if you have a simple tax situation this can be pretty easy. 
      <br></br>
      A simple tax situation is where you have an income statement like a W-2 or a 1099, and you do not have many other forms like from a business or anything else.
      <br></br>
      For these types of "simple" tax situations, using 
      <a href="https://turbotax.intuit.com">TurboTax by Intuit</a>
       is generally okay since you can usually use it for free,
      <br></br>
      However, if your tax situation is a bit more complicated, but you have a good idea of how to navigate taxes, you can always use other tax software like:
      <br></br>
      <a href="https://www.taxact.com">TaxAct</a> 
      <br></br>
      Or, for those who qualify based on certain income amounts: <a href="https://www.irs.gov/filing/free-file-do-your-federal-taxes-for-free">IRS Free File</a>
      <br></br>
      <b>Hiring Someone Else:</b> A tax professional usually an accountant or a CPA (Certified Public Accountant) can usually assist you in preparing your tax return for you, but usually for a service charge. If your tax situation is heavily complicated and might require having someone with more expertise, or if you simply don't want to deal with taxes, this is usually the best option!
      
    </p>
  </p>






</div>

</div>
<br /> <center> <a class="btn btn-primary" href="/submodules/taxes_q" role="button">Quiz</a> </center>
<br />
{% endblock %}
