{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1 class="my-4 text-center title-font">InvestED</h1>
    <div class="row" style="display:flex;flex-direction:column;align-items:center;justify-content:center;">
    {% for category in categories %}
        {% set i = loop %}
        <br></br>
        <hr class="hr-divider display-4"/>
        <h2 class="category" id="sin-{{i.index}}"><span>{{category.name}}</span></h2>
        {% for submodule in category.submodules %}     
            {% if submodule.completed == True %}
                {% set btnstyle = 'btn-outline-primary' %}
            {% else %}  
                {% set btnstyle = 'btn-primary' %}
            {% endif %} 
                <a id="sin-{{ loop.index + i.index }}" style="width:100px;" type="button" class="btn {{btnstyle}} floaty" href="{{ url_for('submodule', name=submodule.path) }}" role="button">{{submodule.module_name}}</a>
        {% endfor %}
     {% endfor %}
    </div>
</div>
{% endblock %}
