{% extends "base.html" %}

{% block body %}
<div class="container">
    <h1 class="my-4 text-center">Website Title!</h1>
    <!-- <form class="form-inline justify-content-center mb-4" method="get" action="/">
        <input type="text" class="form-control mr-2" name="query" value="{{ query }}" placeholder="Search for news">
        <button type="submit" class="btn btn-primary">Search</button>
    </form> -->
    <div class="row">
        {% for category in categories %}
        <div>
            <h2>{{category.name}}</h2>
            <ul>
                {% for submodule in category.submodules %}      
                    <button type="button" class="btn btn-primary">{{submodule.module_name}}</button>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
