{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <script>
    document.addEventListener('scroll', function() {
      const p = {{path_name | tojson}}

      let epsilon = 20

      // Check if the user is at the bottom of the page
      if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - epsilon) {
          
          // Make an AJAX call when the bottom is reached
          console.log("Bottom of page reached!");
          

          const params = {
              path: p,
          }

          fetch('/finished', {
              method: 'POST',
              body: JSON.stringify( params )
          })
          .catch(error => {
              console.error('Error:', error);
          });
      }
    });
 </script>
{% endblock %}
{% block header%}
<a class="btn btn-primary hBack" href="/" role="button"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
    </svg>
    Back
</a>
<br/>
{% endblock %}

{% block footer%}
<div class="text-center">
  <a class="btn btn-primary hBack" href="/" role="button"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
      </svg>
      Finish
  </a>
</div>
{% endblock  %}

